{{ header }}
<div class="contacts-map">
  <div class="container">
    <div class="contacts-contacts">
      <h1>Адреса наших магазинов в Махачкале</h1>
      <div class="contact">
        <h2 class="header-2">«Milavitsa» на Дахадаева</h2>
        <p class="paragraph flex-container flex-center flex-justify"><span>ул. Дахадаева, 31</span><span style="white-space: nowrap;">с 10:00 до 21:00</span></p>
      </div>
      <div class="contact">
        <h2 class="header-2">«Milavitsa» на Али-Гаджи Акушинского</h2>
        <p class="paragraph flex-container flex-center flex-justify"><span>пр-т. Али-Гаджи Акушинского, 90Б к1</span><span style="white-space: nowrap;">с 10:00 до 21:00</span></p>
      </div>
      <div class="contact">
        <h2 class="header-2">«Mavi» на Гамидова</h2>
        <p class="paragraph flex-container flex-center flex-justify"><span>пр-т. ​Гамидова, 61 (ТЦ «Этажи»), 3 этаж</span><span style="white-space: nowrap;">с 10:00 до 21:00</span></p>
      </div>
      <div class="contact">
        <h2 class="header-2">«MilaVitsa» на Гамидова</h2>
        <p class="paragraph flex-container flex-center flex-justify"><span>пр-т. ​Гамидова, 61 (ТЦ «Этажи»), 3 этаж</span><span style="white-space: nowrap;">с 10:00 до 21:00</span></p>
      </div>
    </div>
  </div>
  <div id="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A36c65f2f220fa46bbea69277523e39ef5edfea1cb6a565cf29ab2b6dd88d175e&width=100%25&height=720&lang=ru_RU&scroll=false"></script>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}
