<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="footer-menu flex-container flex-justify flex-list mobile-block">
        <div class="logo">
          {% if logo_footer %}
            {% if home == og_url %}
              <img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% elseif logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        <ul class="list-unstyled">
          <li><h3>Помощь</h3></li>
          <li><a class="navigation" href="agreement">Пользовательское соглашение</a></li>
          <li><a class="navigation" href="policy">Политика конфиденциальности</a></li>
          <li><a class="navigation" href="returns">Возврат и оплата товара</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3>Покупателям</h3></li>
          <li><a class="navigation" href="contacts">Контакты</a></li>
          <li><a href="rec" class="navigation">Реквизиты организации</a></li>
        </ul>
        <!--ul class="list-unstyled">
          <li><h3>Оставайтесь на связи</h3></li>
          <li class="footer-social flex-list">
            <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="image/src/inst.svg" alt="Instagram" title="Instagram"></a>
            <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="image/src/inst.svg" alt="Instagram" title="Instagram"></a>
          </li>
          <li><p class="navigation">{{ telephone }} <span class="caption text-medium-d">({{ open }})</span></p></li>
          <li><a class="navigation" href="contacts">Адреса магазинов в г. Махачкала</a></li>
        </ul-->
      </div>
      <hr>
      <div class="footer-copyright flex-container flex-center flex-justify item-title">
        <p class="text-medium navigation">© {{ year }} {{ store_name }}</p>
        <a class="text-medium navigation" href="https://4ait.ru" target="_blank" rel="noopener noreferrer">Разработка 4А</a>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>